<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.misdeliver.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<h1>타임리프 익히기</h1>
<p th:text="${#temporals.format(today,'yyyy-MM-dd')}"></p>

<!-- person을 선택한 객체로 지정-->
<div th:object="${person}">
    <p th:text="|이름 : *{name}|"></p>
    <p th:text="|나이 : *{age}|"></p>
    <p>취미</p>
    <ul th:each="hobby : *{hobbies}"> <!-- hobbies 갯수 만큼 반복 -->
        <li th:text="${hobby}"></li>
        <!--            <span th:if="${hobby == '운동'">(대표취미)</
        span>-->

    </ul>
</div>

<a th:href="@{/article/articles/{id}(id=${person.id})}">글보기</a>


</body>
</html>